@import "variable";

body {
  width: $max-width;
  margin: 0 auto;
  background: $color-light;
}

* {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-size: 16px;
  color: $color-dark;
  box-sizing: border-box;
}

a {
  color: $color-dark;
  text-decoration: none;
}

li {
  list-style: none;
}