@import "import";
// 一旦このファイルにいろいろ書きます

/**
  COMMON
 */
.logo {
  font-family: Optima, sans-serif;
  color: $color-primary;
  font-weight: bold;
  font-size: $fz-large;
  letter-spacing: 0.05em;
}

.sp-on {
  display: none! important;
}

@media(max-width: $sp-break) {
  .sp-off {
    display: none! important;
  }

  .sp-on {
    display: block! important;
  }
}

input {
  height: $input-height;
  border: $border-normal;
  border-radius: $radius-normal;
  background: $color-white;
  font-size: $fz-x-small;
  padding: 0 12px;
  appearance: none;
  -webkit-appearance: none;

  &::placeholder {
    color: $color-gray;
  }
}

// CHECKBOX / RADIO BUTTON
input[type=radio], input[type=checkbox] {
  display: none;
  width: auto;
}

.radio, .checkbox {
  box-sizing: border-box;
  position: relative;
  margin-top: 12px;
  padding-left: $checkbox-radio-width + 8px;
  cursor: pointer;

  &:hover {
    &:after {
      border-color: $color-primary;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    transform: translateY(-50%);
    width: $checkbox-radio-width;
    height: $checkbox-radio-width;
    border: $border-normal;
    transition: $transition-normal;
  }

  @media only screen and (max-width: $sp-break) {
    width: 100%;
    transition: none;
  }
}

.checkbox {
  display: inline-block;
  margin-right: 24px;

  &::after {
    border-radius: $radius-normal;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 9px;
    display: block;
    margin-top: -7px;
    width: 4px;
    height: 8px;
    border-right: 2px solid $color-white;
    border-bottom: 2px solid $color-white;
    opacity: 0;
    transition: $transition-normal;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
  }

  @media only screen and (max-width: $sp-break) {
    &::before {
      transition: none;
    }
  }
}

.radio {
  display: block;

  &::after {
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 7px;
    display: block;
    width: $checkbox-radio-width / 2;
    height: $checkbox-radio-width / 2;
    border-radius: 50%;
    background-color: $color-primary;
    opacity: 0;
    transition: $transition-normal;
    transform: translateY(-50%);
  }

  @media only screen and (max-width: $sp-break) {
    &::before {
      transition: none;
    }
  }
}

input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before{
  opacity: 1;
}

input[type=checkbox]:checked + label::after {
  background: $color-primary;
  border: none;
}

input[type=radio]:checked + label::after {
  border-color: $color-primary;
}

// SELECTBOX
select {
  position: relative;
  padding: 0 12px;
  width: $input-width-wide;
  height: $input-height;
  cursor: pointer;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  border: $border-normal;
  border-radius: $radius-normal;
  font-size: $fz-small;
  line-height: $fz-small;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: $color-dark;

  &::-ms-expand {
    display: none;
  }

  &::before {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #da3c41;
    pointer-events: none;
  }
  @media only screen and (max-width: $sp-break) {
    width: 100%;
  }
}

.select-wrap {
  position: relative;
  width: $input-width-wide;

  label {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    i {
      color: $color-gray;
    }
  }

  @media only screen and (max-width: $sp-break) {
    width: 100%;
  }
}

p {
  line-height: 1.6;
}

.button-primary {
  @include button();
  color: $color-white;
  background-color: $color-primary;
  box-shadow: $button-shadow;

  &:hover {
    background-color: $color-hover-primary;
  }

  @media only screen and (max-width: $sp-break) {
    width: 100%;
    font-size: $fz-normal;
    line-height: 32px;
  }

  &.disabled {
    background-color: $color-light-gray;
    color: $color-gray;
    box-shadow: none;
    cursor: default;
  }
}

.button-primary-large {
  @include button-large();
  @extend .button-primary;
}

/**
  INDEX
 */
#index {
  padding-top: 72px;

  .index-logo {
    width: 828px;
    margin: 0 auto;

    h1 {
      font-size: 40px;

      + p {
        margin-top: 8px;
        color: $color-dark-gray;
      }
    }

    @media only screen and (max-width: $sp-break) {
      width: 100%;

      h1 {
        font-size: 32px;
      }
    }
  }

  .index-search {
    @include flex();
    margin-top: 56px;
    justify-content: center;
    align-items: flex-end;

    ul {
      @include flex();

      li {
        + li {
          margin-left: 24px;
        }
      }

      label {
        @include flex();

        i {
          margin-top: 3px;
          color: $color-light-primary;
        }

        span {
          margin-left: 4px;
          font-size: $fz-large;
        }

        @media only screen and (max-width: $sp-break) {
          span {
            font-size: $fz-normal;
          }
        }
      }

      input {
        margin-top: 8px;
        width: $input-width-wide;
      }
    }

    .button-primary {
      margin-left: 24px;

      @media only screen and (max-width: $sp-break) {
        margin-top: 24px;
        margin-left: 0;
      }
    }

    @media only screen and (max-width: $sp-break) {
      display: block;
      margin-top: 40px;

      ul {
        display: block;

        li {
          + li {
            margin-top: 16px;
            margin-left: 0;
          }
        }

        input {
          width: 100%;
        }
      }
    }
  }
}

/**
  SEARCH
 */

#search {

  > div {
   @include flex();
    align-items: flex-start;

    @media only screen and (max-width: $sp-break) {
      display: block;
    }
  }

  .search-condition {
    margin-top: 21px;
    width: $small-column;

    @media only screen and (max-width: $sp-break) {
      margin-top: 0;
      width: 100%;
    }

    ul {
      li {
        & + li {
          margin-top: 16px;
        }
      }
    }

    .button-primary {
      margin-top: 24px;
      width: 100%;
    }

    label {
      @include flex();

      i {
        font-size: $icon-small;
        color: $color-light-primary;
      }

      span {
        margin-left: 4px;
      }
    }

    input {
      margin-top: 8px;
      width: 100%;

      @media only screen and (max-width: $sp-break) {
        width: 100%;
      }
    }
  }

  .search-result {
    margin-left: 32px;

    @media only screen and (max-width: $sp-break) {
      margin-top: 40px;
      margin-left: 0;
    }

    h1 {
      font-size: $fz-large;
      font-weight: bold;
    }
  }

  .search-result-jobs {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 8px;

    @media only screen and (max-width: $sp-break) {
      display: block;
    }
  }

  .search-result-job {
    width: ($pc-width - $small-column - $wrap-padding * 2 - 32px - 16px) / 2;
    margin-top: 16px;
    background: $color-white;
    border: $border-normal;
    border-radius: $radius-normal;
    transition: box-shadow $transition-normal;

    @media only screen and (max-width: $sp-break) {
      width: 100%;
    }

    a {
      display: block;
      padding: 12px 16px 16px;
    }

    &:nth-child(even) {
      margin-left: 16px;

      @media only screen and (max-width: $sp-break) {
        margin-left: 0;
      }
    }

    &:hover {
      box-shadow: $modal-shadow;

      h2 {
        text-decoration: underline;
      }
    }

    h2 {
      color: $color-primary;
      font-size: $fz-normal;
    }
  }

  .search-result-job-description {
    margin-top: 8px;

    > li {
      @include flex();
      align-items: flex-start;

      & + li {
        margin-top: 4px;
      }
    }

    i {
      margin-top: 2px;
      font-size: $icon-small;
      color: $color-light-gray;
    }

    p {
      max-height: 56px;
      margin-left: 4px;
      font-size: $fz-x-small;
      color: $color-dark-gray;
      overflow: hidden;
    }
  }
}

/**
  JOB DETAIL
 */
#job-detail {
  .job-detail-wrap {
    @include flex();
    align-items: flex-start;

    @media only screen and (max-width: $sp-break) {
      display: block;
    }
  }

  #job-detail-fixed {
    position: fixed;
    top: 0;
    left: auto;
    width: $pc-width - $wrap-padding * 2;
    margin: 0 auto;
    padding: 40px 0;
    z-index: 1;
    display: none;

    > section {
      width: $small-column;
      margin-left: auto;
      border-radius: $radius-normal;
      background: $color-white;
      border: $border-normal;
      padding: 16px;

      h3 {
        font-size: $fz-normal;
      }

      .button-primary {
        margin-top: 16px;
        width: 100%;
        min-width: auto;
      }
    }

    .job-detail-fixed-description {
      margin-top: 8px;

      li {
        @include flex();
        align-items: flex-start;

        i, p {
          word-break: break-all;
        }

        i {
          margin-top: 4px;
          color: $color-gray;
          font-size: $icon-x-small;
        }

        p {
          font-size: $fz-small;
          margin-left: 4px;
          color: $color-dark-gray;
        }
      }
    }
  }

  .job-detail-description-wrap {
    flex: 1;

    @media only screen and (max-width: $sp-break) {
      width: 100%;
    }
  }

  .job-detail-button {
    margin-left: 40px;
    width: $small-column;

    @media only screen and (max-width: $sp-break) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: 0;
      width: 100%;
      background: rgba(255,255,255, 0.8);
      box-shadow: $modal-shadow;
      padding: 16px 16px 24px;
      text-align: center;
      z-index: 2;
    }
  }

  .job-detail-description {
    h1 {
      font-size: $fz-large;
    }

    ul {
      margin-top: 24px;
      background: $color-white;
      border-radius: $radius-normal;
      border: $border-normal;

      > li {
        @include flex();
        align-items: flex-start;
        padding: 16px;
        word-break: break-all;

        @media only screen and (max-width: $sp-break) {
          display: block;
          padding: 12px;
        }

        + li {
          border-top: $border-normal;
        }

        > div {
          @include flex();
          width: $table-title-width;

          i {
            font-size: $icon-small;
            color: $color-gray;
          }

          span {
            margin-left: 8px;
            color: $color-dark-gray;
          }
        }

        > p {
          flex: 1;

          @media only screen and (max-width: $sp-break) {
            margin-top: 8px;
          }
        }
      }
    }
  }

  .job-detail-updated {
    margin-top: 8px;
    font-size: $fz-x-small;
    color: $color-gray;
  }

  .job-detail-form-wrap {
    padding-top: 40px;
  }

  form {
    position: relative;
    padding-bottom: 32px;
    background: $color-white;
    border-radius: $radius-normal;
    border: $border-light-primary;
    z-index: 2;

    @media only screen and (max-width: $sp-break) {
      padding-bottom: 0;
    }

    h2 {
      padding: 16px 24px;
      font-size: $fz-large;

      @media only screen and (max-width: $sp-break) {
        padding: 16px;
        font-size: $fz-normal;
      }
    }

    > dl {
      padding: 16px;
      border-top: $border-light-primary;

      @media only screen and (max-width: $sp-break) {
        padding: 0 16px 16px;
      }

      dt, dd {
        display: inline-block;
        margin-top: 16px;
        vertical-align: top;

        @media only screen and (max-width: $sp-break) {
          display: block;
        }
      }

      dt,
      dt > label {
        width: $table-title-width;
        padding-top: 4px;
        text-align: right;
        color: $color-dark-gray;

        @media only screen and (max-width: $sp-break) {
          width: 100%;
          padding-top: 0;
          text-align: left;
        }
      }

      dd {
        width: calc(100% - #{$table-title-width} - 48px);
        margin-left: 16px;

        input {
          width: $input-width-wide;
          padding: 8px 12px 10px;
          font-size: $fz-small;
        }

        @media only screen and (max-width: $sp-break) {
          width: 100%;
          margin-top: 8px;
          margin-left: 0;

          input {
            width: 100%;
          }
        }
      }

      .job-detail-form-license,
      .job-detail-form-starting {
        margin-top: 22px;

        @media only screen and (max-width: $sp-break) {
          + dd {
            margin-top: 0;
          }
        }
      }

      .job-detail-form-purpose,
      .job-detail-form-purpose > select{
        width: $select-width-wide;

        @media only screen and (max-width: $sp-break) {
          width: 100%;
        }
      }
    }

    .job-detail-form-button-box {
      text-align: center;

      @media only screen and (max-width: $sp-break) {
        padding: 8px 16px 16px;
      }

      .job-detail-form-terms-of-service {
        font-size: $fz-small;
        color: $color-dark-gray;

        a,
        i {
          color: $color-primary;
          font-size: $fz-small;
        }

        i {
          margin-top: 4px;
        }
      }

      .button-primary-large {
        margin-top: 8px;
      }
    }
  }
}