/**
  BASE COLOR
 */
$color-primary: #1578D4;
$color-light-primary: #97C1E8;
$color-hover-primary: #1889F2;
$color-dark: #2E3033;
$color-dark-gray: #676C73;
$color-gray: #A1A7B3;
$color-light-gray: #D4D5D9;
$color-light: #f5f5f7;
$color-white: white;
$color-danger: #D41515;

/**
  FONT SIZE
 */
$fz-x-small: 12px;
$fz-small: 14px;
$fz-normal: 16px;
$fz-large: 20px;

/**
  FONT FAMIRY
 */
$base-font: 'Noto Sans JP', 'Noto Sans', 'Avenir Next', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', sans-serif;

/**
  BORDER
 */
$border-normal: 1px $color-light-gray solid;
$border-light-primary: 2px $color-light-primary solid;

/**
  BORDER RADIUS
 */
$radius-normal: 6px;

/**
  WIDTH / HEIGHT
 */
$max-width: 1080px;
$wrap-padding: 40px;
$header-height: 63px;
$table-title-width: 128px;
$icon-normal: 24px;
$icon-small: 20px;
$icon-x-small: $fz-x-small;

// FORM
$input-height: 40px;
$input-width-wide: 320px;
$select-width-wide: 420px;
$checkbox-radio-width: 24px;

/**
  BREAK POINT
 */
$sp-break: 800px;

/**
  BOX SHADOW
 */
$button-shadow: 0px 0px 8px $color-light-primary;

/**
  TRANSITION
 */
$transition-normal: 0.15s ease-out;